.loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userNameDiv{
    padding: 1rem;
}

.passwordDiv{
    padding: 1rem;
}


.toDoContainer{
    max-width: 500px;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto;

    /* background-color: var(--background-color-card); */
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1em;
    padding-bottom: 1.5em;

}

hr.style-one {
    border: 0;
    height: 2px;
    background: #313131;
    }

.toDoMessage{
    padding-bottom: 1rem;
}

/* .pTagAddNewItem{
    text-align: left;
} */